*{
    margin: 0;
    padding: 0;
    font-family: "Gilory";
    box-sizing: border-box;

}
/** body area ****/
body{
    background-color: rgb(82, 2, 2);
    background-image: url("landscape.jpg");
    background-size: cover;
    font-weight: bold;
    text-align:center;
}
/* main div*/
.main{
    height:500px;
    width: 400px;
    position: absolute;
    top: 60px;
    left: 38%;
    opacity: 80%;
    background-color: #6c6c6c;
    
}
/* h1 text area start */
h1{
    position:absolute;
    top: 12px;
    left: 45px;
    text-align: center;

}
h2{
    font-size: 50px;
    color: azure;
    position: relative;
    top: 50px;    
}

button{
    display: block;
    position: relative;
    top: 50px;
    left: 120px;
    font-size: 30px;
    background-color: rgb(10, 122, 209);
    
} 

button:hover{
    color: rgb(125, 0, 0);
}
#save-btn{
    position: relative;
    left: 150px;
} 
#increment-btn{
    text-align: center;
    border: 80px;
    font-size: 30px;
    color: rgb(236, 129, 129);
}  
